body {
    font-size: 14px;
    line-height: 1.0;
}

header, nav, main, footer {
    margin: 1.25rem auto;
    max-width: 1000px;
}
header, footer {
    background-color: forestgreen;
    color: white;
    padding: 25px;
    text-align: center;    
}

h1 {
    font-family: 'Poppins', sans-serif;
}
img {
    margin: 10px;
    border: 2px solid #000000;
}

h2 {
    font-family: 'Poppins', sans-serif;
    display: block;
    height: 20px;
    width: 600px;
    border-bottom: 3px solid #000000;
    padding: 20px;
}

main ul li {
    font-size: 14pt;
}
main ul li a {
    color: navy;
    font-size: 12pt;
}
