header, body, footer {
    max-width: 1000px;

}
header, footer {
    background-color: navy;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 1px;
}

h3 {
    font-family: 'Big Shoulders Display', cursive;
    background-color: royalblue;
}

main section {
    border: 1pt solid #000000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-width: 306px;
    margin-top: 10px;
    margin-bottom: 10px;
}

img {
    align-content: center;
    border: 1px solid #000000;
    margin: 2px;
}

/*Phone Size*/
main {
    display: grid;
    grid-template-columns: 1fr;

}

/*Tablet Size*/
    @media only screen and (min-width: 37.5em) {

        main {
            grid-template-columns: 1fr 1fr;
        }
    }

/*Desktop Size*/
    @media only screen and (min-width: 60.0em) {

        main {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }