main {
    display: grid;
    text-align: center;
    row-gap: 30px;
}

/*
picture img[data-src] {
    filter: blur(0.2em);
}
  
picture img {
    filter: blur(0em);
    transition: filter 0.5s;
}
*/

