/* Small  View and normal design */
header {
    background-color: #3E6990;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
}

div, p, nav {
    font-family: Arial, Helvetica, sans-serif;
}
header img {
    width: 80px;
    height: auto;
}

.headings {
    display: flex;
    flex-direction: column;
}

.headings h1 {
    font-size: 20pt;
    margin: 0 0 0 17px;
    color: white;
}

.motto {
    font-size: 14pt;
    margin: 0 0 0 21px;  
}

main, footer {
    text-align: center;
    max-width: 1000px;
    margin: auto;
    align-items: center;
    justify-content: center;
}

nav {
    background-color: #2E2C2F;
}

nav ul {
    list-style: none;
    max-width: 1000px;
    margin: auto;
    padding: 0;
    justify-content: center;
} 

nav li a {
    display: block;
	color: #fff;
    text-align: center;
    text-decoration: none;
	padding: 10px;
}

nav a:hover {
	background-color: #D6F49D;
	color: #605F5E;
}

nav li a.active { 
    color: #EAD637;
}

/* Make the menu toggle on and off*/

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
}

.responsive li {
	display: block;
}

/*End of CSS for menu*/

#banner {
    background-color: black;
    color: antiquewhite;
    text-align: center;
}

main div {
    text-align: left;
}

main div.hero {
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

main div img.hero {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

main div.hero section.weathersummary {
    position: absolute;
    top: 2rem;
    left: 2rem;
    background-color: aqua;
    border: 1px solid black;
    padding: .5rem;
}

footer {
    background-color: #2E2C2F;
    color: #fff;
    padding: 10px 0;
}

footer p {
    margin: 0;
}

.forecast {
    display: none;
}

.article {
    display: flex;
    border: dashed black 1px;
    background-color: #D6F49D;
    padding: 5px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

#picnic {
    float: right;
    margin-bottom: auto;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.contact {
    display: flex;
    border: dashed black 1px;
    background-color: #D6F49D;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

main div img.preston {
    float: left;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
}

#leftcol {
    display: none;
    max-width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

#rightcol {
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}
