@media only screen and (min-width: 60em) {

    /*--------------- HEADER ---------------*/
    header img {
        width: 120px;
        height: auto;
    }

    /*--------------- NAV ---------------*/

    /*--------------- MAIN: INDEX ---------------*/
    main {
        display: block;
        margin: auto;
        max-width: 1000px;
    }
    
    main div.cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-content: center;
        justify-content: center;
        margin: auto;
    }
    
    main div.cards article {
        display: grid;
        text-align: center;
        align-content: center;
        justify-content: center;
        width: 90%;
        border: 1px black solid;
        background-color: #D6F49D;
        padding: .5rem;
    }

    main div.cards article section {
        max-width: 100%;
        text-align: center;
        justify-content: center;
        align-content: center;
        margin: auto;
    }
    
    main div.cards article section h2 {
        color: #3E6990;
        line-height: 1rem;
    }
    
    main div.cards article section h5 {
        color: #3E6990;
        font-style: oblique; 
    }
    
    main div.cards article section p {
        color: #605F5E;
    }
    
    main div.cards article img {
        margin: auto;
        width: auto;
        box-shadow: 0 0 15px black;
    }

    /*--------------- MAIN: PRESTON ---------------*/

    /*--------------- MAIN: SODA SPRINGS ---------------*/

    /*--------------- MAIN: FISH HAVEN ---------------*/

    /*--------------- MAIN: STORM CENTER ---------------*/

    /*--------------- MAIN: GALLERY ---------------*/
    main div.picdiv picture {
        border: 1px grey solid;
        border-radius: 10px 10px 10px 10px;
    }

    main div.picdiv picture:hover {
        box-shadow: 0 0 10px #333;
    }
    
    main div.picdiv img {
        border-radius: 10px 10px 0 0;
    }
    
    main div.picdiv p {
        display: block;
        margin-left: 5px;
        font-style: italic;
    }
}