@media only screen and (min-width: 37.5em) {

    /*--------------- HEADER ---------------*/
    header img {
        width: 100px;
        height: auto;
    }

    .headings h1 {
        font-size: 30pt;
        margin: 0 0 0 17px;
    }

    /*--------------- NAV ---------------*/
    .navigation {
        display: flex;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    /*--------------- MAIN: INDEX ---------------*/
    main div.cards {
        max-width: 600px;
        display: flex;
        flex-wrap: wrap;
    }
    
    main div.cards article {
        display: flex;
        flex-direction: row;
        margin: 15px;
    }

    main div.cards article section {
        width: 45%;
        flex-direction: column;
        text-align: center;
    }
    
    main div.cards article:nth-child(odd) {
        flex-direction: row-reverse;
    }

    .cards article img {
        width: 45%;
    }

    /*--------------- MAIN: PRESTON ---------------*/
    main div.hero section.weathersummary {
        position: absolute;
        top: 2rem;
        left: 2rem;
        background-color: rgba(8, 180, 154, 0.59);
        border: 1px solid black;
        padding: .5rem;
    }

    .forecast {
        display:block;
    }

    #forecastheader {
        background-color: #3E6990;
    }

    #forecastbody {
        background-color: #D6F49D;
    }

    .forecast table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 6px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 30px;
        align-content: center;
    }

    main div img.farm {
        display: block;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 55%;
        height: 150px;
    }

    main div img.preston {
        float: left;
        max-width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    /*----- Article -----*/

    .article {
        display: block;
        overflow: hidden;
    }

    .typearticle {
        text-align: left;
    }

    #picnic {
        float: right;
        width: 25%;
        padding: 0 0 1% 2%;
        max-width: 500px;
    }

    #leftcol {
        display: flex;
    }

    /*--------------- MAIN: SODA SPRINGS ---------------*/

    /*--------------- MAIN: FISH HAVEN ---------------*/

    /*--------------- MAIN: STORM CENTER ---------------*/

    /*--------------- MAIN: GALLERY ---------------*/
}