.main {
    display: block;
    margin: auto;
    max-width: 1000px;
    background-color: #FDFDFD;
    
}

.main p {
    color: #605F5E;
}

h1 { 
    font-family: $fontCourgette;
    color: $h1Color;
}

h2, h3 {
    color: $h1Color;
    font-family: $fontCourgette;
}

p, nav, .motto {
    font-family: $fontFamily;
}

header {
    background-color: #FDFDFD;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    width: 60px;
    height: auto;
}

.headings {
    display: flex;
    flex-direction: column;
}

.headings h1 {
    font-size: 14pt;
    margin: 0 0 0 5px;
    color: #CABA98;
}

.motto {
    font-size: 8pt;
    margin: 0 0 0 5px;
    color: #605F5E;  
}    

.navmenu {
    background-color: #D0A77D;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    margin: auto;
    background-color: #D0A77D;
    max-width: 1000px;
    justify-content: center;
}

.navigation {
    list-style: none;
}

ul.navigation li {
    width: 200px;
    background-color: #D0A77D;
    float: left;
    height: 35px;
    line-height: 35px;
    text-align: center;
}

ul.navigation li:hover {
    background-color: #D7C6AE;
    color: #605F5E;
}

ul.navigation li a {
    color: #FDFDFD;
    text-decoration: none;
    font-family: $fontFamily;
    display: block;
}

ul.navigation li a:hover {
    color: #605F5E;
}

ul.navigation li ul li {
    border-top: 1px solid #FDFDFD;
}

ul.navigation li ul {
    display: none;
}

ul.navigation li:hover ul {
    display: block;
}

nav li a.active { 
    background-color: #D7C6AE;
	color: #605F5E;
}

/* Make the menu toggle on and off*/

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
}

.responsive li {
	display: block;
}

/* ---------- MAIN ---------- */

.maintemple {
    display: block;
    max-width: 80%;
    border: solid #605F5E 1px;
    background-color: #FDFDFD;
    margin: 20px auto;
    color: #605F5E;
    text-align: center;
}

.leftcol {
    max-width: 50%;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.rightcol {
    max-width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

img.mainimg {
    
    max-width: 100%;
}

.reservationcta {
    max-width: 1000px;
    border: solid #605F5E 1px;
    background-color: #D2C5B4;
    margin: auto;
    padding-top: 15px;
    text-align: center;
}

.reservationcta h3 {
    color: black;
    font-size: 10px;
}

.submitbtn {
    background-color: orangered;
    border-radius: 5px;
    border: none;
    padding: 1rem;
    width: 50%;
}

.maincontact {
    display: block;
    max-width: 1000px;
    border: solid #605F5E 1px;
    margin: 20px auto;
}

.contactinfo {
    list-style: none;
    background-color: #FDFDFD;
    color: $bodyColor;
    padding: .5rem;
    margin: auto;
}

.contactimg {
    border: solid #605F5E 1px;
    width: 70%;
}

.contact, .hours {
    list-style: none;
    padding: .3rem;
}


/* ---------- TEMPLES ---------- */

.temples {
    max-width: 1000px;
    margin: auto;
}

.temples article {
    border: solid #605F5E 1px;
    padding: 10px;
    margin: 15px;
}

.temples img {
    max-width: 80%;
    max-height: 500px;
}



/* ---------- RESERVATIONS ---------- */

form {
    max-width: 1000px;
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid #D0A77D;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #D0A77D;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #D0A77D;
    font-size: .8rem;
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #605F5E;
    border-radius: 4px;
    padding: .75rem;
    color: #605F5E;
    width: 100%;
    max-width: 20rem;
    background-color: #D7C6AE;
}

form label.sbs {
    display: block;
    padding: .75rem;
    color: #605F5E;
    font-size: .8rem;
}

form input.submitbtn {
    background-color: orangered;
    border-radius: 5px;
    border: none;
    padding: 1rem;
    margin-left: 5px;
    margin-bottom: 15px;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}


/* ---------- SERVICES ---------- */
.services {
    display: block;
    max-width: 1000px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.rightcolumn {
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    align-content: center;
    margin-top: auto;
    margin-bottom: auto;
}

.services img.leftcolumn {
    
    width: 80%;
}

.services img.swimming {
    
    width: 80%;
}

/* ---------- RECEPTION ---------- */
.reception {
    display: block;
    max-width: 1000px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    
}

.reception img {
    
    width: 80%;
}


/* ---------- FULL-TIME ---------- */
.missionary {
    display: block;
    max-width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    
}

.missionary img {
    
    width: 80%;
}

/* ---------- CONTACT ---------- */
.contactus {
    text-align: center;
    margin: auto;
    padding: 20px;
}

.contactusimg {
    padding: 20px;
    max-width: 80%;
}


/* ---------- FOOTER ---------- */
footer {
    text-align: center;
    margin: auto;
    align-items: center;
    justify-content: center;
    background-color: #D0A77D;
    color: #fff;
    padding: 10px 0;
}

footer p {
    margin: 0;
}