header {
    text-align: center;
    color: rgb(87, 5, 163);
}
main {
    display: block;
    margin: auto;
}

main div {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, 300px);
    transition: all is;
    align-content: center;
    justify-content: center;
    padding: 20px;
    background-color: #dddddd;
    box-shadow: 0 0 20px black;
    margin: auto;
}

section {
    text-align: center;
    border: 1px black solid;
    background-color: rgb(143, 175, 235);
    padding: .5rem;
}

section h2 {
    color: rgb(87, 5, 163);
}

section p {
    line-height: .5rem;
}

main img {
    margin: auto;
    max-width: 70%;
    box-shadow: 0 0 15px black;
}

footer {
    text-align: center;
}