@media only screen and (min-width: 37.5em) {

    header img {
        width: 100px;
        height: auto;
    }

    .headings h1 {
        font-size: 30pt;
        margin: 0 0 0 17px;
    }

    .navigation {
        display: flex;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .forecast {
        display: block;
        border: dashed black 1px;
        background-color: #D6F49D;
        padding: 5px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 55%;
    }
}
