main {
    display: block;
    margin: auto;
    max-width: 1000px;
    background-color: #FDFDFD;
}

h1 { 
    font-family: $fontCourgette;
}

p, nav, .motto {
    font-family: $fontFamily;
}

header {
    background-color: #FDFDFD;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    width: 80px;
    height: auto;
}

.headings {
    display: flex;
    flex-direction: column;
}

.headings h1 {
    font-size: 20pt;
    margin: 0 0 0 17px;
    color: #CABA98;
}

.motto {
    font-size: 12pt;
    margin: 0 0 0 21px;
    color: #605F5E;  
}    

.navmenu {
    background-color: #D0A77D;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    margin: auto;
    background-color: #D0A77D;
    max-width: 1000px;
    justify-content: center;
}

ul {
    list-style: none;
}

ul li {
    width: 200px;
    background-color: #D0A77D;
    float: left;
    height: 35px;
    line-height: 35px;
    text-align: center;
}

ul li:hover {
    background-color: #D7C6AE;
    color: #605F5E;
}

ul li a {
    color: #FDFDFD;
    text-decoration: none;
    font-family: $fontFamily;
    display: block;
}

ul li a:hover {
    color: #605F5E;
}

ul li ul li {
    border-top: 1px solid #FDFDFD;
}

ul li ul {
    display: none;
}

ul li:hover ul {
    display: block;
}

nav li a.active { 
    background-color: #D7C6AE;
	color: #605F5E;
}

/* Make the menu toggle on and off*/

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
}

.responsive li {
	display: block;
}

/* ---------- MAIN ---------- */

.maintemple {
    display: flex;
    background-color: #FDFDFD;
    padding: 20px;
    margin: auto;
    color: #605F5E;
}

img.mainimg {
    float: left;
    max-width: 50%;
}





/* ---------- FOOTER ---------- */
footer {
    text-align: center;
    margin: auto;
    align-items: center;
    justify-content: center;
    background-color: #D0A77D;
    color: #fff;
    padding: 10px 0;
}

footer p {
    margin: 0;
}